datacenter = "dc1"
data_dir = "/opt/consul"
{# start_join = {{ node_server_ips }} #}
{% if 'false' in consul_server | default('false') %}
start_join = [{% for node in node_server_ips %}"{{ node }}:{{ subnet_port.content | basename }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% else %}
start_join = [{% for node in node_server_ips %}"{{ node }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
client_addr = "0.0.0.0"
bind_addr = {% raw %}"{{GetInterfaceIP \"eth0\"}}"
{% endraw %}
{% if 'false' in consul_server | default('false') %}
segment = "{{ subnet_name.content | basename }}"
{% endif %}
telemetry { prometheus_retention_time = "4s" }