{% if 'true' in consul_server | default('false') %}
{% set port = segment_start_port | int - 1 %}
{% for segment in network_segments %}
segments = {
advertise = {% raw %}"{{GetInterfaceIP \"eth0\"}}"
{% endraw %}
bind = {% raw %}"{{GetInterfaceIP \"eth0\"}}"
{% endraw %}
name = "{{ segment }}"
port = {{ port + loop.index }}
}
{% endfor %}
{% endif %}